<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Homestay App: {% block title %}{% endblock %}</title>

  {% load bootstrap3 %}
  {% load static %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/bootstraptheme.min.css' %}">
  <!-- Jquery UI CSS-->
  <link rel="stylesheet" href="{% static '/css/jquery-ui.theme.min.css' %}">

  <!-- User-Defined CSS -->
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'booking:index' %}">Homestay App</a>
        {% else %}
        <a class="navbar-brand" href="{% url 'index' %}">Homestay App</a>
        {% endif %}
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% if user.is_authenticated %}
          <li><a href="{% url 'booking:index' %}">Dashboard</a></li>
          <li><a href="{% url 'booking:calendar' %}">Calendar</a></li>
          {% else %}
          <li><a href="#">About</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">FAQ</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Hello, {{ user.username }}</b> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'booking:download_reservation_csv' %}">Backup reservations</a></li>
              <li><a href="{% url 'booking:list_deleted_reservation' %}">Deleted reservations</a></li>
              <li><a href="{% url 'user:settings' %}">User Settings</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'user:logout' %}">Logout</a></li>
            </ul>
          </li>
          {% else %}
          <li><a href="{% url 'user:login' %}">Login</a></li>
          <li><a href="{% url 'user:register' %}">Register</a></li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12"><h1>{% block title2 %}{% endblock %}</h1></div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {% block content6-1 %} {% endblock %}
      </div>
      <div class="col-md-6">
        {% block content6-2 %} {% endblock %}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% block content %} {% endblock %}
      </div>
    </div>
  </div>

  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center"><small>Theme by Bootswatch - <a href="{% url 'index' %}">Homestay App</a> @ 2017</small></p>
      </div>
    </div>
  </div>

  <script type="text/javascript" charset="utf-8" src="{% static '/js/jquery.min.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static '/js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static '/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static '/js/moment.min.js' %}"></script>
  {% block js %}{% endblock %}
</body>

</html>
