<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Homestay App: {% block title %}{% endblock %}</title>

  {% load bootstrap3 %}
  {% load static %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/bootstraptheme.min.css' %}">
  <!-- Jquery UI CSS-->
  <link rel="stylesheet" href="{% static '/css/jquery-ui.theme.min.css' %}">

  <!-- User-Defined CSS -->
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12"><h1>{% block title2 %}{% endblock %}</h1></div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% block content-top %} {% endblock %}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {% block content6-1 %} {% endblock %}
      </div>
      <div class="col-md-6">
        {% block content6-2 %} {% endblock %}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% block content %} {% endblock %}
      </div>
    </div>
  </div>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center"><small>Theme by Bootswatch - <a href="{% url 'index' %}">Homestay App</a> @ 2017</small></p>
      </div>
    </div>
  </div>
  <script type="text/javascript" charset="utf-8" src="{% static '/js/jquery.min.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static '/js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static '/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static '/js/moment.min.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static '/js/underscore.min.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static '/js/clndr.min.js' %}"></script>
  {% block js %}{% endblock %}
</body>

</html>
