{% extends "booking/base.html" %}
{% load bootstrap3 %}
{% block title %}Reservation {{reservation.customer_name}} - {{reservation.property_obj.name}}{% endblock %}
{% block title2 %}Reservation {{reservation.customer_name}} <span class="label label-info">{{reservation.property_obj.name}}</span>{% endblock %}

{% block content6-1 %}
<form action="{% url 'booking:edit_status_reservation' reservation.id %}" method="post">
  {% csrf_token %}
<ul class="list-group">
  <li class="list-group-item">Name: {{reservation.customer_name}}</li>
  <li class="list-group-item">Email: {{reservation.customer_email}}</li>
  <li class="list-group-item">Phone number: {{reservation.customer_phone_number}}</li>
  <li class="list-group-item">Bank ref: {{reservation.bank_reference}}</li>

  <li class="list-group-item">
    <div class="clearfix">{% bootstrap_field form.payment layout='horizontal' %}</div>
  </li>
  <li class="list-group-item">
    <div class="clearfix">{% bootstrap_field form.status layout='horizontal' %}</div>
  </li>
</ul>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-sm-6">
      <p>Check in: <b>{{reservation.check_in_date|date:"D, j M"}}</b></p>
    </div>
    <div class="col-sm-6">
      <p>Check out: <b>{{reservation.check_out_date|date:"D, j M"}}</b></p>
    </div>
  </div>
</div>

{% endblock %}
{% block content6-2 %}
  <ul class="list-group">
    <li class="list-group-item">Customer notes: {{reservation.customer_notes}}</li>
    <li class="list-group-item">Notes: {{reservation.notes}}</li>
    <li class="list-group-item">Date added: {{reservation.date_added}}</li>
  </ul>
  <br>
  {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
  <a href="{% url 'booking:reservation' reservation.id %}" class="btn btn-default">Back</a>
  </form>
{% endblock %}
