{% extends "booking/base.html" %}
{% load bootstrap3 %}
{% block title %}Edit reservation {{reservation.customer_name}} - {{reservation.property_obj.name}}{% endblock %}
{% block title2 %}Edit reservation {{reservation.customer_name}} <span class="label label-info">{{reservation.property_obj.name}}</span>{% endblock %}


{% block content6-1 %}

<form action="{% url 'booking:edit_reservation' reservation.id %}" method="post">
  {% csrf_token %}
  {% bootstrap_field form.customer_name %}
  {% bootstrap_field form.customer_email %}
  {% bootstrap_field form.customer_phone_number %}
  {% bootstrap_field form.check_in_date %}
  {% bootstrap_field form.check_out_date %}
{% endblock %}
{% block content6-2 %}
  <p>Bank ref: {{reservation.bank_reference}}</p>
  <p>Price for {{reservation.property_obj.name}}:</p>
  <ul>
    <li>Normal day: RM{{reservation.property_obj.normal_price}} per day</li>
    <li>Special day/Weekend: RM{{reservation.property_obj.special_price}} per day</li>
  </ul>
  {% bootstrap_field form.payment %}
  {% bootstrap_field form.status %}
  {% bootstrap_field form.notes %}
  {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
  <a href="{% url 'booking:reservation' reservation.id %}" class="btn btn-default">Back</a>
</form>

{% endblock %}

{% block js %}
<script type="text/javascript">
$("#id_check_in_date").attr("autocomplete", "off");
$("#id_check_out_date").attr("autocomplete", "off");
    var timeInMs = Date.now();
    var dateFormat = "yy-mm-dd",
        from = $("#id_check_in_date")
        .datepicker({
            showButtonPanel: true,
            dateFormat: "yy-mm-dd",
        }),
        to = $("#id_check_out_date").datepicker({
            showButtonPanel: true,
            dateFormat: "yy-mm-dd",
        });
</script>
{% endblock %}
