{% extends "booking/base.html" %}
{% load bootstrap3 %}
{% block title %}Editing {{ property_obj.name }}{% endblock %}
{% block title2 %}Editing {{ property_obj.name }}{% endblock %}

{% block content6-1 %}

<form action="{% url 'booking:edit_property' property_obj.id %}" method="post">
  {% csrf_token %}
  {% bootstrap_field form.name %}
  {% bootstrap_field form.location %}
  {% bootstrap_field form.property_type %}
  {% bootstrap_field form.max_occupant %}
  {% bootstrap_field form.normal_price %}
  {% bootstrap_field form.special_price %}
  {% bootstrap_field form.bank_name %}
  {% bootstrap_field form.account_name %}
  {% bootstrap_field form.account_number %}
{% endblock %}
{% block content6-2 %}
  {% bootstrap_field form.check_in_time %}
  {% bootstrap_field form.check_out_time %}
  {% bootstrap_field form.website %}
  {% bootstrap_field form.property_description %}
  {% bootstrap_field form.terms_cond %}
  {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" %}
  <a href="{% url 'booking:index' %}" class="btn btn-default">Back</a>
</form>

{% endblock %}

{# # Premium
'bulk_price',
'offer_price',
'offer_ongoing',#}
