{% extends "booking/base.html" %}
{% block title %}Dashboard{% endblock %}{% block title2 %}Dashboard <span class="pull-right" id="date" >date</span> {% endblock %}

{% block content6-1 %}
<div class="card">
  <div class="card-head">
    <h3>Currently hosting</h3>
  </div>
<div class="card-body">
  {% if now_hosting_reservations %}
    <div class="list-group">
      {% for reservation in now_hosting_reservations %}
        <a href="{% url 'booking:reservation' reservation.id %}" class="list-group-item">
          {{reservation.check_out_date|date:"j M"}} - {{reservation.customer_name}} - {{ reservation.property_obj.name }}
          {% if reservation.status == 'UNPAID' %}
            <span class="label label-danger">{{reservation.get_status_display }}</span>
          {% elif reservation.status == 'PAID-DP' %}
            <span class="label label-warning">{{reservation.get_status_display }}</span>
          {% elif reservation.status == 'PAID-FULL' or reservation.status == 'COMPLETED'  %}
            <span class="label label-success">{{reservation.get_status_display }}</span>
          {% else %}
            <span class="label label-info">{{reservation.get_status_display }}</span>
          {% endif %}
        </a>
      {% endfor %}
    </div>
  {% else %}
      <p>No reservations you are currently hosting found</p>
  {% endif %}
      <a class="btn btn-sm btn-primary"href="{% url 'booking:list_past_reservation' %}">All past reservations</a>
</div>
</div>
{% endblock %}
{% block content6-2 %}
<div class="card">
  <div class="card-head">
    <h3>Upcoming reservations </h3>
  </div>
<div class="card-body">
  {% if upcoming_reservations %}
  <div class="list-group">
      {% for reservation in upcoming_reservations %}
        <a href="{% url 'booking:reservation' reservation.id %}" class="list-group-item">
          {{reservation.check_in_date|date:"j M"}} - {{reservation.customer_name}} - {{ reservation.property_obj.name }}
          {% if reservation.status == 'UNPAID' %}
            <span class="label label-danger">{{reservation.get_status_display }}</span>
          {% elif reservation.status == 'PAID-DP' %}
            <span class="label label-warning">{{reservation.get_status_display }}</span>
          {% elif reservation.status == 'PAID-FULL' or reservation.status == 'COMPLETED' %}
            <span class="label label-success">{{reservation.get_status_display }}</span>
          {% else %}
            <span class="label label-info">{{reservation.get_status_display }}</span>
          {% endif %}
        </a>
      {% endfor %}
    </div>
      <a class="btn btn-sm btn-primary"href="{% url 'booking:list_upcoming_reservation' %}">All upcoming reservations</a>
  {% else %}
      <p>No reservations found</p>
  {% endif %}
</div>
</div>
{% endblock %}
{% block content %}
<div class="card">
  <div class="card-head">
    <h3>Property</h3>
  </div>
<div class="card-body">
  {% if properties %}
      {% for property in properties %}
      <div class="panel panel-primary">
        <div class="panel-body">
          <h4><a href="{% url 'booking:property' property.id %}"><b>{{ property.name }}</b></a></h4>
          <p>Location: {{property.location}}</p>
          <a class="btn btn-sm btn-success" href="{% url 'booking:new_reservation' property.id %}">
            New reservation</a>
          <a class="btn btn-sm btn-warning" href="{% url 'new_cust_reservation' property.slug %}" target="_blank">
            New reservation (Customer link)</a>
        </div>
      </div>
      {% endfor %}
      <p><a class="btn btn-sm btn-primary" href="{% url 'booking:new_property' %}">Add property</a></p>
  {% else %}
      <p>No properties found, add property <a class="btn btn-sm btn-primary" href="{% url 'booking:new_property' %}">here</a></p>
  {% endif %}
</div>
</div>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    var now = moment().format("dddd, D MMM YYYY");;
    $("span.pull-right").html(now);
  </script>
{% endblock %}
