{% extends "booking/base.html" %}
{% block title %}Recover Reservation{% endblock %}
{% block title2 %}Recover Reservation{% endblock %}


{% block content %}
<div class="table-responsive">
  <table class="table table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Property</th>
        <th>Check in</th>
        <th>Check out</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for reservation in reservations %}
      <tr>
        <td>{{reservation.customer_name}}</td>
        <td>{{reservation.property_obj.name}}</td>
        <td>{{reservation.check_in_date}}</td>
        <td>{{reservation.check_out_date}}</td>
        <td>{{reservation.status}}</td>
        <td><a href="{% url 'booking:restore_reservation' reservation.id %}" class="btn btn-primary btn-sm">Restore</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
