{% extends "booking/base.html" %}
{% block title %}Upcoming Reservation{% endblock %}
{% block title2 %}Upcoming Reservation{% endblock %}


{% block content %}
<div class="table-responsive">
  <table class="table table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Property</th>
        <th>Check in</th>
        <th>Check out</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for reservation in upcoming_reservations %}
      <tr>
        <td><a href="{% url 'booking:reservation' reservation.id%}">{{reservation.customer_name}}</a></td>
        <td>{{reservation.property_obj.name}}</td>
        <td>{{reservation.check_in_date}}</td>
        <td>{{reservation.check_out_date}}</td>
        <td>{{reservation.status}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
