{% extends "booking/base-cust.html" %}
{% load bootstrap3 %}
{% block title %}New reservation for {{property_obj.name}}{% endblock %}
{% block title2 %}New reservation for <span class="label label-info">{{property_obj.name}}</span>{% endblock %}

{% block content-top %}

{% endblock %}

{% block content6-1 %}



{% endblock %}
{% block content6-2 %}


{% endblock %}

{% block content %}
<div class="alert alert-warning" role="alert">
  <p>Make your payment to the account now to confirm your booking.</p>
  <p>If you don't pay by {{ reservation_date_delete|date:"Y-m-d"}}, your booking will be automatically cancelled</p>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Payment information</h3>
  </div>
  <div class="panel-body">
      <p>Bank name: <b>{{ property_obj.bank_name }}</b></p>
      <p>Account name: <b>{{ property_obj.account_name }}</b></p>
      <p>Account number: <b>{{ property_obj.account_number }}</b></p>
      <p>Amount: RM <b>{{ reservation.payment }}</b></p>
      <p>Payment Details/Recipient Reference: <b>{{ reservation.bank_reference }}</b></p>
  </div>
</div>
<div class="clearfix">
  <a href="{% url 'index' %}" class="btn btn-primary">Finish</a>

</div>
<hr>
<div class="panel panel-default">
  <div class="panel-body">
    <h4 class="text-center">Need help? Contact this facility. </h4>
    <div class="col-sm-6 text-center">
      <p>Email: {{property_obj.owner.email}}</p>
    </div>
    <div class="col-sm-6 text-center">
      <p>Phone Number: {{property_obj.owner.owner.phone_number}}</p>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
