{% extends "booking/base.html" %}
{% load bootstrap3 %}
{% block title %}New reservation for {{property_obj.name}}{% endblock %}
{% block title2 %}New reservation for <span class="label label-primary">{{property_obj.name}}</span>{% endblock %}

{% block content6-1 %}

  <form action="{% url 'booking:new_reservation' property_obj.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_field form.customer_name %}
    {% bootstrap_field form.customer_email %}
    {% bootstrap_field form.customer_phone_number %}
    {% bootstrap_field form.check_in_date %}
    {% bootstrap_field form.check_out_date %}
    <p>*Overlapped dates will not give error</p>
{% endblock %}
{% block content6-2 %}
    <p>Price for {{property_obj.name}}:</p>
    <ul>
      <li>Normal day: RM{{property_obj.normal_price}} per day</li>
      <li>Special day/Weekend: RM{{property_obj.special_price}} per day</li>
    </ul>
    {% bootstrap_field form.payment %}
    {% bootstrap_field form.status %}
    {% bootstrap_field form.notes %}
    {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" %}
    <a href="{% url 'booking:index' %}" class="btn btn-default">Back</a>
  </form>

{% endblock %}

{% block js %}
<script type="text/javascript">
$("#id_check_in_date").attr("autocomplete", "off");
$("#id_check_out_date").attr("autocomplete", "off");
    var timeInMs = Date.now();
    var dateFormat = "yy-mm-dd",
        from = $("#id_check_in_date")
        .datepicker({
            showButtonPanel: true,
            dateFormat: "yy-mm-dd",
        }),
        to = $("#id_check_out_date").datepicker({
            showButtonPanel: true,
            dateFormat: "yy-mm-dd",
        });
</script>

{% endblock %}
