{% extends "booking/base-cust.html" %}
{% load bootstrap3 %}
{% block title %}New reservation for {{property_obj.name}}{% endblock %}
{% block title2 %}New reservation for <span class="label label-info">{{property_obj.name}}</span>{% endblock %}

{% block content-top %}

{% endblock %}

{% block content6-1 %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{property_obj.name}}</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <p>{{property_obj.property_type}}</p>
          <p>{{property_obj.location}}</p>
        </div>
        <div class="col-sm-6">
          <p>Maximum occupant: <b>{{property_obj.max_occupant}}</b> person</p>
          <p>Check In Time: <b>after {{property_obj.check_in_time|time:"g.i a"}}</b></p>
          <p>Check Out Time: <b>before {{property_obj.check_out_time|time:"g.i a"}}</b></p>
        </div>
        <div class="col-sm-12">
          <p>{{property_obj.property_description}}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="cal1"></div>
    <p>*<span class="text-danger"> Red colored boxes</span> are booked dates</p>

{% endblock %}
{% block content6-2 %}
<form class="clearfix" action="{% url 'new_cust_reservation' property_obj.slug %}" method="post">
    {% csrf_token %}
    {% bootstrap_field form.check_in_date %}
    {% bootstrap_field form.check_out_date %}
    <div class="well well-sm clearfix" id="price_info_well">
      <p>Staying for <span id="show_days" class="text-primary">0</span> Night(s)</p>
      {% if property_obj.special_price %}
        <p>Normal days: <span id="show_normal_day" class="text-primary">0</span>,
          Weekend/Special days: <span id="show_special_day" class="text-primary">0</span></p>
      {% endif %}
      {% bootstrap_label "Select payment" label_for="id_payment" %}
      <div class="radio">
        <label>
          <input type="radio" name="payment" id="select_full_price" value="0" checked>
          Full: RM <span class="text-primary show_full_price"></span>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="payment" id="select_dp_price" value="0">
          Down payment: RM <span class="text-primary show_dp_price"></span>
        </label>
      </div>

      <div class="center-block">
        <a href="#" class="btn btn-danger pull-right" id="reset_dates">Reset dates</a>
      </div>
    </div>
    {{ form.payment.as_hidden }}
    {% bootstrap_field form.customer_name %}
    {% bootstrap_field form.customer_email %}
    {% bootstrap_field form.customer_phone_number %}
    {% bootstrap_field form.customer_notes %}
    {% bootstrap_button "Next >>" button_type="submit" button_class="btn-primary" %}
  </form>
{% endblock %}
{% block content %}
<hr>
<div class="panel panel-default">
  <div class="panel-body">
    <h4 class="text-center">Need help? Contact this facility. </h4>
    <div class="col-sm-6 text-center">
      <p>Email: {{property_obj.owner.email}}</p>
    </div>
    <div class="col-sm-6 text-center">
      <p>Phone Number: {{property_obj.owner.owner.phone_number}}</p>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  <script type="text/javascript">
  var startDate, endDate, days;
  reset_all();

  function calcDays(startDate, endDate) {
      if (startDate !== undefined && endDate !== undefined) {
          $("#show_days").html(endDate.diff(startDate, 'days'));
          return parseInt(endDate.diff(startDate, 'days'));
      } else {
          $("#show_days").html("0");
          return 0;
      };
  };

  function calculatePrice(startDate, endDate, days) {
      var normal_price = parseInt("{{property_obj.normal_price}}");
      var special_price = parseInt("{{property_obj.special_price}}") || parseInt("{{property_obj.normal_price}}");
      var dayNum = 0, full_price = 0, normal_day = 0, special_day = 0;
      console.log("days: " + days +
                  " startDate: " + startDate.toDate() +
                  " endDate: " + endDate.toDate() );
      if(days !== 0){
        // TODO: to check API for special days that demand increase
          for (var i = 0; i < days; i++) {
              dayNum = (i === 0 ? startDate : startDate.add(1, 'd'));
              if (dayNum.day() === 6 || dayNum.day() === 5) { // check in friday and saturday
                  full_price += special_price;
                  special_day += 1;
              } else {
                  full_price += normal_price;
                  normal_day += 1;
              };
              console.log("i: " + i + " dayNum: " + dayNum.day());
          };
          $("#show_normal_day").html(normal_day);
          $("#show_special_day").html(special_day);
          $(".show_full_price").html(full_price);
          $(".show_dp_price").html(full_price / 2);
          $("#select_full_price").val(full_price);
          $("#select_dp_price").val(full_price/2);
          $("#id_payment").val(full_price);
          console.log("full_price: " + full_price);
          return full_price;
      } else {
        return 0;
      };

  };


  $("#id_check_in_date")
      .attr("autocomplete", "off")
      .val(function(index, value) {
          startDate = moment(value);
      })
      .change(function(data) {
          startDate = moment(data.currentTarget.value);
          days = calcDays(startDate, endDate);
          calculatePrice(startDate, endDate, days);
          // $("#id_check_in_date").datepicker("hide");
      });

  $("#id_check_out_date")
      .attr("autocomplete", "off")
      .val(function(index, value) {
          endDate = moment(value);
      })
      .change(function(data) {
          endDate = moment(data.currentTarget.value);
          startDate = moment($("#id_check_in_date").val());
          console.log("startDate in change: " + startDate.toDate())
          days = calcDays(startDate, endDate);
          calculatePrice(startDate, endDate, days);
          $("#price_info_well").show(1000);
      });

  // $("#select_full_price").on("checked",function(){
  //   console.log(this);
  //   $("id_payment").val($(this).val());
  // });
  $('input:radio[name="payment"]').change( function(){
    if ($(this).is(':checked')) {
      console.log($(this).val());
      $("#id_payment").val($(this).val());
    }
  });

  $("#reset_dates").on("click",function(){
    reset_all();
  });

  var timeInMs = Date.now();
  var dateFormat = "yy-mm-dd",
      from = $("#id_check_in_date")
      .datepicker({
          showButtonPanel: true,
          dateFormat: "yy-mm-dd",
          minDate: 1,
      })
      .on("change", function() {
          to.datepicker("option", "minDate", getDate(this));
      }),
      to = $("#id_check_out_date").datepicker({
          showButtonPanel: true,
          dateFormat: "yy-mm-dd",
          minDate: 1
      })
      .on("change", function() {
          from.datepicker("option", "maxDate", getDate(this));
      });

  function getDate(element) {
      var date;
      try {
          date = $.datepicker.parseDate(dateFormat, element.value);
      } catch (error) {
          date = null;
      }
      return date;
  }

  function reset_all(){
    startDate = undefined;
    endDate = undefined;
    $("#id_check_in_date").val("");
    $("#id_check_out_date").val("");
    if(from !== undefined){
      from.datepicker("option","maxDate", null);
      to.datepicker("option","minDate", null);
    };
    $("#price_info_well").hide();
  };



  var calendar = function(data){
    $('.cal1').clndr({
        events: data,
        multiDayEvents: {
            endDate: 'end',
            startDate: 'start'
        },
        showAdjacentMonths: true,
        adjacentDaysChangeMonth: false
    });
  }

  var bookedDates = function(data){

  }

  $.get("/api/{{property_obj.slug}}/", function(data) {}, "json")
      .done(function(data) {
        calendar(data);
        bookedDates(data);
      });




  </script>
{% endblock %}
