{% extends "booking/base.html" %}

{% block title %}{{property_obj.name}}{% endblock %}
{% block title2 %}{{property_obj.name}}{% endblock %}

{% block content6-1 %}
  <ul class="list-group">
    <li class="list-group-item">Location: {{property_obj.location}}</li>
    <li class="list-group-item">Property type: {{property_obj.property_type}}</li>
    <li class="list-group-item">Max occupant: {{property_obj.max_occupant}}</li>
    <li class="list-group-item">Normal price: {{property_obj.normal_price}}</li>
    <li class="list-group-item">Special price: {{property_obj.special_price}}</li>
    <li class="list-group-item">Bank name: {{property_obj.bank_name}}</li>
    <li class="list-group-item">Account name: {{property_obj.account_name}}</li>
    <li class="list-group-item">Account number: {{property_obj.account_number}}</li>
    
{% endblock %}
{% block content6-2 %}
    <li class="list-group-item">Check in time: after {{property_obj.check_in_time|time:"g.i a"}}</li>
    <li class="list-group-item">Check out time: before {{property_obj.check_out_time|time:"g.i a"}}</li>
    <li class="list-group-item">Website: {{property_obj.website}}</li>
    <li class="list-group-item">Property description: {{property_obj.property_description}}</li>
    <li class="list-group-item">Terms and condition: {{property_obj.terms_cond}}</li>
    <!--{#
    <li class="list-group-item">Bulk price: {{property_obj.bulk_price}}</li>
    <li class="list-group-item">Offer price: {{property_obj.offer_price}}</li>
    <li class="list-group-item">Offer ongoing? {{property_obj.offer_ongoing}}</li>
   #} -->
  </ul>
  <br>
  <p><a class="btn btn-primary" href="{% url 'booking:edit_property' property_obj.id %}">Edit property</a></p>
{% endblock %}
