{% extends "booking/base.html" %}

{% block title %}Reservation {{reservation.customer_name}} - {{reservation.property_obj.name}}{% endblock %}
{% block title2 %}Reservation {{reservation.customer_name}} <span class="label label-info">{{reservation.property_obj.name}}</span>{% endblock %}

{% block content6-1 %}
<ul class="list-group">
  <li class="list-group-item">Name: <b>{{reservation.customer_name}}</b></li>
  <li class="list-group-item">Email: <b>{{reservation.customer_email}}</b></li>
  <li class="list-group-item">Phone number: <b>{{reservation.customer_phone_number}}</b></li>
  <li class="list-group-item">Bank ref: <b>{{reservation.bank_reference}}</b></li>
  <li class="list-group-item">Payment: <b>{{reservation.payment}}</b></li>
  <li class="list-group-item">Status: <b>{{ reservation.get_status_display }}</b>  <a class="btn btn-sm btn-primary"href="{% url 'booking:edit_status_reservation' reservation.id %}">Edit Status</a>
</li>
</ul>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-sm-6">
      <p>Check in: <b>{{reservation.check_in_date|date:"D, j M"}}</b></p>
    </div>
    <div class="col-sm-6">
      <p>Check out: <b>{{reservation.check_out_date|date:"D, j M"}}</b></p>
    </div>
  </div>
</div>

{% endblock %}
{% block content6-2 %}
  <ul class="list-group">
    <li class="list-group-item">Customer notes: {{reservation.customer_notes}}</li>
    <li class="list-group-item">Notes: {{reservation.notes}}</li>
    <li class="list-group-item">Date added: {{reservation.date_added}}</li>
  </ul>
  <a class="btn btn-warning"href="{% url 'booking:edit_reservation' reservation.id %}">Edit all</a>
  <a class="btn btn-danger" href="{% url 'booking:delete_reservation' reservation.id%}">Delete</a>
{% endblock %}
