{% extends "booking/base.html" %}
{% load bootstrap3 %}

{% block title %}Login{% endblock %}{% block title2 %}Login{% endblock %}

{% block content6-1 %}
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again</p>
  {% endif %}
  <form action="{% url 'user:login' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit"  name="submit" class="btn btn-primary">Login</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'booking:index' %}">
  </form>
{% endblock %}
