{% extends "booking/base.html" %}
{% load bootstrap3 %}
{% block title %}Change Password{% endblock %}{% block title2 %}Change Password{% endblock %}

{% block content6-1 %}
  <form method="post" action="{% url 'user:password' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" name="submit" class="btn btn-primary">Save</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'booking:index' %}" />
  </form>
{% endblock %}
