{% extends "booking/base.html" %}
{% load bootstrap3 %}
{% block title %}Register{% endblock %}{% block title2 %}Register{% endblock %}

{% block content6-1 %}
  <form method="post" action="{% url 'user:register' %}">
    {% csrf_token %}
    {% bootstrap_form owner_form %}
    {% bootstrap_form form %}
    {% buttons %}
      <button  type="submit" name="submit" class="btn btn-primary">Register</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'booking:index' %}" />
  </form>
{% endblock %}
