{% extends "booking/base.html" %}
{% load bootstrap3 %}
{% block title %}Settings{% endblock %}{% block title2 %}Settings{% endblock %}

{% block content6-1 %}
  <form method="post" action="{% url 'user:settings' %}">
    {% csrf_token %}
    {% bootstrap_form owner_form %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" name="submit" class="btn btn-primary">Save</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'booking:index' %}" />
  </form>
  <p><a href="{% url 'user:password' %}" class="btn btn-default">Change password</a></p>
{% endblock %}
